body{
    background-image: url('../assets/images/BG.png');
    font-family: 'WonkaFonts', sans-serif;
}
.logo{
    width: 20%;
    height: auto;
}
.header{
    width: 100%;
    height: 90px;
    background-image: url(../assets/images/sweet_candy_pink_background.jpg);
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    align-items: center;
}

.container{
    margin-top: 100px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
@font-face {
    font-family: 'WonkaFonts';
    src: url('../fonts/WillyWonka.ttf') format('truetype');
}
p{
    letter-spacing: 4px;
    font-size: x-large;
    color: rgb(228, 10, 134);
}
a{
    letter-spacing: 4px;
}
input{
    width: 300px;
    height: 25px;
    border-style: outset;
    border-radius: 5px;
    opacity: 0.8;
}
.kid1{
    margin-left: 20%;
}
.kid2{
    margin-right: 5%;
}
button{
    background-color: #823511;
    color: rgb(228, 10, 134);
    border-radius: 5px;
    font-size: x-large;
    width: 60%;
    transition: background-color 0.3s ease, cursor 0.3s ease;
    letter-spacing: 4px;
}

button:hover {
    background-color: #a84321;
    cursor: pointer;
}
.lollipopstick{
    width: 4%;
    height: 230px;
}
.spiral{
    width: 30%;
    height: auto;
    border-radius: 50%;
    animation: spin 5s linear infinite;
    opacity: 0.6;
    margin-left: 15%;
}
h1{
   text-align: center;
   letter-spacing: 4px;
    color: rgb(228, 10, 134);
    margin-top: 150px;
}

.img {
    display: flex;
    flex-direction: column;
    align-items: center;  /* Opcjonalnie, aby wyrównać obrazy do środka */
}
@keyframes spin {
    from { transform: rotate(0deg); }
    to { transform: rotate(360deg); }
}


